@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@200;300;400;500;600;700&display=swap');


*
{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
	scroll-padding-top: 4rem;
	scroll-behavior: smooth;
}

:root{
    --body: #00050D;
    --text-color: #f1f1f1;
	--second-color:#edeae3;
	/* --text-color:; */
	--bg-color:#00050D;
    --hover-color: ;

    /* Box Shadow */
--box-shadow: 2px 2px 10px 4px rgb(14 55 54 / 15%);

}

/* Scroll Bar */

html::-webkit-scrollbar
{
	width: 0.5rem;
	background: transparent;
}
html::-webkit-scrollbar-thumb
{
	background: rgba(255, 0, 0, 0.5);
}

/* Scroll Bar Fim */

body{
    background: var(--body);
}


/* navBar */

header
{
	position: fixed;
	width: 100%;
	top: 0;
	right: 0;
	z-index: 1000;
	display: flex;
	justify-content: space-between;
	align-items: center;
	padding: 18px 100px;
	transition: 0.5s linear;
}
header.shadow{
	background: var(--bg-color);
	box-shadow: var(--box-shadow);
}

.logo h1
{
    font-size: 25px;
    color: var(--text-color);
    
}
.logo span{
    font-size: 35px;
    font-weight: bold;
    font-style: italic;
    color: red;
}
.navbar
{
    display: flex;
    list-style: none;
}	
.navbar a
{
	padding: 8px 17px;
	color: var(--text-color);
	font-size: 1rem;
	text-transform: uppercase;
	font-weight: 500;
    text-decoration: none;
}	
.navbar a:hover
{
	background: var(--main-color);
	border-radius: 0.2rem;
	transition: 0.2s all linear;
}

.header-icon
{
	font-size: 22px;
	cursor: pointer;
	z-index: 10000;
	display: flex;
	column-gap: 0.8rem;
}
.header-icon .bx
{
	color: var(--text-color);

}
.header-icon .bx:hover
{
	color: var(--bg-color);
}

#menu-icon
{
	color: var(--bg-color);
	font-size: 24px;
	z-index: 100001;
	cursor: pointer;
	display: none;
}

.search-box.active
{
	top: 110%;
	box-shadow: var(--box-shadow);
	transition: 0.2s all linear;
}
.search-box
{
	position: absolute;
	top: -100%;
	left: 50%;
	transform: translate(-50%);
	background: var(--text-color);
	width: 100%;
}

.search-box input
{
	padding: 20px;
	border: none;
	outline: none;
	width: 100%;
	font-size: 1rem;
	color: var(--main-color);
}
.search-box input::placeholder
{
	font-size: 1rem;
	font-weight: 500;
}

/* navBar Fim */

/* Carousel slide */

.home{
	background: linear-gradient(to left, transparent 0%, var(--body) 200%);
    width: 700px;
    height: 100%;
    top: 0px;
    bottom: 0px;
    left: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.home-text
{
    margin-left: 200px;
    margin-top: 225px;
	padding-left: 40px;	
}
.home-title
{
	font-size: 3.5rem;
	font-weight: 600;
}
.home-text p
{
	font-size: 0.938rem;
	margin: 10px 0 20px;
	color: var(--main-color);	
}
.watch-btn
{
	display: flex;
	align-items: center;
	column-gap: 0.8rem;
	color: var(--text-color);	
    text-decoration: none;
}
.watch-btn .bx
{
	font-size: 2rem;
	background: var(--bg-color);
	width: 60px;
	height: 60px;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
}
.watch-btn .bx:hover
{
	background: var(--hover-color);
}
.watch-btn span
{
	font-size: 1rem;
	font-weight: 400;
}

/* Carousel slide Fim */

/* Carousel 1 */

.movie-box
{
	position: relative;
	width: 100%;
	height: 380px;
	overflow: hidden;
}
.movie-box-img
{
	width: 100%;
	height: 100%;
	object-fit: cover;

}
.movie-box .box-text
{
	position: absolute;
	bottom: 0;
	left: 0;
	width: 100%;
	height: 28%;
	display: flex;
	flex-direction: column;
	justify-content: flex-end;
	padding: 14px;
	background: linear-gradient( 8deg, hsl(240 17% 14% / 74%) 14%, hsl(240 17% 14% / 14%) 44%);
	overflow: hidden;
}
.movie-title
{
	font-size: 1.1rem;
	font-weight: 500;
    color: var(--text-color);
}
.movie-type
{
    font-size: 0.938rem;	
    color: var(--text-color);
}

/* Carousel 1 Fim */

/* Carrosel */
  
  h1 {
    text-align: left;
    margin: 1em 0;
    padding-left: 1rem;
    font-size: 32px;
    color: var(--text-color);
  }
  
  .container-slide {
    position: relative;
    padding: 15px;
    max-width: 100%;
    height: 390px;
    margin: 25px auto;
  }
  
  .gallery-wrapper {
    overflow-x: auto;
  }
  
  .arrow-left,
  .arrow-right {
    position: absolute;
    top: 0;
    left: 0;
    right: auto;
    bottom: 0;
    font-size: 50px;
    line-height: 250px;
    width: 60px;
    color: var(--text-color);
    transition: all 600ms ease-in-out;
    background: linear-gradient(to left, transparent 0%, var(--body) 200%);
    /* opacity: 0.1; */
    cursor: pointer;
    border: none;
    z-index: 10;
  }
  
  /* .arrow-left:hover,
  .arrow-right:hover {
    opacity: 1;
  } */
  
  .arrow-right {
    right: 0;
    left: auto;
    text-align: right;
    background: linear-gradient(to right, transparent 0%, var(--body) 200%);
  }
  
  .gallery {
    display: flex;
    flex-flow: row nowrap;
    gap: 15px;
}

/* .gallery img{
    transform: scale(1.1);
} */

.item {
    width: 250px;
    height: auto;
    flex-shrink: 0;    
    transition: all 600ms ease-in-out;
    cursor: pointer;
    top: 0;
    bottom: 0;
    /* opacity: 0.5; */
  }
.item:hover{
    transform: scale(1.1);
    transition: 0.5s;
}
  
  /* .current-item {
    opacity: 1;
  } */
  
  /* This is from w3schools */
  /* 
  https://www.w3schools.com/howto/howto_css_hide_scrollbars.asp */
  /* Hide scrollbar for Chrome, Safari and Opera */
  .gallery-wrapper::-webkit-scrollbar {
    display: none;
  }
  
  /* Hide scrollbar for IE, Edge and Firefox */
  .gallery-wrapper {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
  
  


/* Carrosel Fim */